<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkawJyKVxOhZ8SNMCECcZrPPPk5erg2Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>288651300582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jacktrowbridge.foodhorn</string>
	<key>PROJECT_ID</key>
	<string>foodhorn-9b4dc</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhorn-9b4dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288651300582:ios:caa016ec5c9b49cc22b527</string>
</dict>
</plist>